.home-container{
    height: 100vh;
    display: grid;
    grid-template-columns:2fr 3fr;
    .left-container{
        background-color: #1E1E1E;
        display: flex ;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        .items-container{
            color:white;
            display: flex;
            flex-direction: column;
            align-items:center;
            gap:15px;
            img{
                width:100px;
            }
            h2{
                color: rgb(216, 211, 211);
            }
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                height:50px;
                width: 90%;
                border-radius: 25px;
                border-width:0px;
                transition-duration: 1s;
                font-size:20px ;
            }
            button:hover{
                box-shadow: 2px 2px 6px gray;
            }
        }
    }
   
}