.root-editor-container{
    height:100%;
    display: flex;
    flex-direction:column;
    color: white;
    .editor-header{
        background-color:#1A1A1A;
        display: flex;
        justify-content:space-between;
        button,select{
            border:none;
            background-color:#313131;
            color:white;
            padding:10px 20px;
            border-radius:5px;
            transition-duration:0.5s;
        }
        select:focus{
            outline:none;
        }
        button{
            color:#0088A2;
            background-color:#2A3D3A;
            cursor:pointer;
        }
        button:hover{
            background-color:#2a635a ;
        }
        .title{
            font-size:24px;
        }
    }
    .editor-footer{
        background-color:#1A1A1A;
        padding:10px;
        display:flex;
        justify-content:space-between;
        .btn{
            display:flex;
            align-items:center;
            padding:4px 10px;
            background-color:#3E3E3E;
            color:#C3C4C8;
            border:none;
            border-radius:4px;
            gap:10px;
            cursor: pointer;
            transition-duration:0.8s;
            
        }
        .btn:hover{
            background-color: #8d8e94;
            color:white;
        }
    }
    .editor-body{
       
        flex-grow:1;
    }
    .editor-left-container,.editor-right-container{
        display:flex;
        gap:20px;
        padding:10px;
        align-items:center;
    }

}

