.playground-container{
    height:100vh;
    display:flex;
    flex-direction:column;
    .icon-container{
        display: flex;
        gap: 10px;
        align-items:center;
        padding:4px;
    }
    .content-container{
        flex-grow: 1;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap:20px;
        padding:5px;
        background-color:#1A1A1A;
    }
    .logo{
        height:100px;
        border-radius:50%;
    }
    .header-container{
        display: flex;
        justify-content: center;
        background-color: #1E1E1E;
        padding:2px 0;
    }
    .editor-container{
        grid-row: 1/3;
        
    }
    .input-output-container{
        display:flex;
        flex-direction:column;
        .input-header{
            background-color:#EDEDED;
            padding:10px;
            display: flex;
            justify-content:space-between;
        }
        textarea{
            flex-grow:1;
            border:none;
            resize:none;
            padding:10px;
            font-size:20px;
        }
        textarea:focus{
            outline: none;
        }
        button{
            border:none;
        }
    }
    
    .fullpage-loader{
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(0,0,0,0.534);
        display:flex;
        justify-content:center;
        align-items:center;
        .loader{
            width:50px;
            height:50px;
            background-color:transparent;
            border:8px solid rgba(255,99,71,0.311);
            border-left-color:tomato ;
            border-radius:50%;
            animation:0.8s loader infinite linear;
        }
    }

}

@keyframes loader{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}